* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 100px;
    background-color: gray;
    margin-bottom: 50px;
    color: white;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1500px;
}

.round{
    border: 2px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

button{
    height: 80px;
    width : 200px;
    border-radius: 18px;
}

#parameters{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap : 30px;
    height: 800px;
}

#grid-container {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 10px solid gray;
}

.grid-square{
    --valueOfRange : 16;
    flex:1 1 calc(100% / var(--valueOfRange));
    box-sizing: border-box;
}

.footer{
    height: 20px;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
    background-color: gray;
    color: white;
}

.chosen{
    background-color : gray;
    color : white;
}

#range-chosen{
    text-align: center;
    font-size: 24px;
}
