* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}

h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex : 0 1 auto;
    padding: 10px;
    text-align: center;
    font-size: 100px;
    background-color: gray;
    margin-bottom: 50px;
    color: white;
}

#main{
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    gap : 30px;
}

.round{
    align-self: center;
    border: 2px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

button{
    height: 80px;
    width : 200px;
    border-radius: 18px;
}

#parameters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    gap : 30px;
    height: 700px;
}

#grid-container {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    border: 10px solid gray;
}

.grid-square{
    box-sizing: border-box;
    flex: 1 1 auto;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: center;
    height: 20px;
    padding: 20px;
    background-color: gray;
    color: white;
}

.chosen{
    background-color : gray;
    color : white;
}

#range-chosen{
    text-align: center;
    font-size: 24px;
}
