body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container{
    display: flex;
    flex-wrap: wrap;
    gap : 0px;
    justify-content: center;
    align-items: center;
    height: 850px;
    width: 900px;
}

.hovered{
    background-color: black;
}